<h1 i18n="@@Additions">Additions</h1>
<ul>
    <li *ngFor="let worksheetsItem of exercises | arrayFilter: filterAdditions">
        <mat-checkbox [checked]="isSelected(worksheetsItem)"
            (change)="checkboxChange($event.checked, worksheetsItem)">
            {{worksheetsItem.label}}</mat-checkbox>
    </li>
</ul>

<h1 i18n="@@Subtractions">Subtractions</h1>

<ul>
    <li *ngFor="let worksheetsItem of exercises | arrayFilter: filterSubtraction">
        <mat-checkbox [checked]="isSelected(worksheetsItem)"
            (change)="checkboxChange($event.checked, worksheetsItem)">
            {{worksheetsItem.label}}</mat-checkbox>
    </li>
</ul>

<h1 i18n="@@Multiplication">Multiplication</h1>
<ul>
    <li *ngFor="let worksheetsItem of exercises | arrayFilter: filterMultiplication">
        <mat-checkbox [checked]="isSelected(worksheetsItem)"
            (change)="checkboxChange($event.checked, worksheetsItem)">
            {{worksheetsItem.label}}</mat-checkbox>
    </li>
</ul>

<app-main-buttons [nbQuestions]="config.nbQuestions" (pushButtonEvent)="pushedButton($event)"></app-main-buttons>
