<section>
    <mat-form-field appearance="fill">
        <mat-label>Operator</mat-label>
        <mat-select [(value)]="problemTypes" multiple>
            <mat-option *ngFor="let mpt of mathProplemActions()" value="{{mpt.code}}">
                {{mpt.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
<div class="operation-chip-list">
    <mat-chip-listbox aria-label="operations" class="operation-chip-list">
        <mat-chip-option *ngFor="let problemType of problemTypes" [selectable]="selectable"
                 [removable]="removable" (removed)="remove(problemType)">
          {{mathProblemTypesMap[problemType].name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip-option>
      </mat-chip-listbox>
</div>      
</section>

<section *ngFor="let worksheetsItemPerOperation of operationToDisplay()">
    <h1 class="sectionHeader">{{worksheetsItemPerOperation.mathProblemTypesData.name}}</h1>
    <ul>
        <li *ngFor="let worksheetsItem of worksheetsItemPerOperation.exercises">
            <mat-checkbox [checked]="isSelected(worksheetsItem)"
                (change)="checkboxChange($event.checked, worksheetsItem)">
                {{worksheetsItem.label}}</mat-checkbox>
        </li>
    </ul>  
</section>

<app-main-buttons [nbQuestions]="config.nbQuestions" (pushButtonEvent)="pushedButton($event)"></app-main-buttons>
