<div class="main-div">

  <mat-card class="z-depth center" flex="50">
    <div class="progressBar">
      <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    </div>
    <button mat-raised-button color="accent" *ngIf="status == WorkoutStatusEnum.Begin" (click)="start()">Start!</button>
    <div class="mathQuestion" *ngIf="status == WorkoutStatusEnum.Work">
      <span [ngClass]="{'equation':true, 'stacked': stacked}">
        <ng-template ngFor let-num [ngForOf]="currentTask.values" let-i="index" let-last="last">
          <span class="number">{{num}}</span>
          <span *ngIf="last==false" class="operator">{{currentTask.operator}}</span>
        </ng-template>
        <span class="equals">=</span>
        <input id="answerField" name="answerField" autofocus="autofocus" autocomplete="off" placeholder="?"
          (keypress)="typeKey($event)" (keyup)="check($event)" type="number">
      </span>
    </div>
    <div *ngIf="status == WorkoutStatusEnum.Finish">
      Finish<br />
      <button mat-raised-button color="accent" (click)="start()">Start!</button>
    </div>
  </mat-card>
</div>