.flexbox-parent {
    //@include display-flex;
    //background: #FFD54F;
    overflow: hidden;
    width: 100%;
    padding: 3px;
    min-height: 550px;
    max-height: 1000px;
    justify-content: center;
    align-items: baseline;
  }
  .center{
    width: 75%;
    margin: 10px auto;
  }
  
  .main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }