<div class="main-div">

  <mat-card class="z-depth center" flex="50">
    <div class="progressBar">
      <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
      <div *ngIf="tasks && index < tasks.length">
        {{index + 1}} of {{tasks.length}}
      </div>
    </div>
    <button mat-raised-button color="accent" *ngIf="status == WorkoutStatusEnum.Begin" (click)="start()">Start!</button>
    <div class="mathQuestion" *ngIf="status == WorkoutStatusEnum.Work">
      <span [ngClass]="{'equation':true, 'stacked': stacked}">
        <ng-template ngFor let-num [ngForOf]="currentTask.values" let-i="index" let-last="last">
          <span class="number">{{num}}</span>
          <span *ngIf="last==false" class="operator">{{currentTask.operator}}</span>
        </ng-template>
        <span class="equals">=</span>
        <input #answerField [(ngModel)]="userInput" autofocus="autofocus" autocomplete="off" placeholder="?"
          (keypress)="typeKey($event)" (keyup)="check($event)" type="number" autofocus />
      </span>
    </div>
    <div *ngIf="status == WorkoutStatusEnum.Finish">
      Finish!<br />
      <table>
        <thead>
          <tr>
            <th>No</th>
            <th>equation</th>
            <th>answer</th>
            <th>time</th>
            <th>mistakes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks,let i = index">
            <td>{{i + 1}}</td>
            <td>{{task.problem.question}}</td>
            <td>{{task.answer}}</td>
            <td>{{task.getTimeInSec()}} sec.</td>
            <td>{{task.errors}}</td>
          </tr>
        </tbody>
      </table>
      <button mat-raised-button color="accent" (click)="start()">Start!</button>
    </div>
  </mat-card>
</div>