<button mat-icon-button
    color="accent"
    aria-label="Clear"
    (click)="clearInput()"
    [disabled]="isEmpty()"
    tabindex="-1">
    <mat-icon svgIcon="delete-cross"></mat-icon>
</button>
<ng-contianer
    *ngIf="mode==columnAnswerMode.COLUMNS; then columns; else normal"></ng-contianer>

<ng-template #columns>
    <div class="columnAnswer">
        <input *ngFor="let ipt of userInputs; index as i; last as isLast; trackBy:trackByIdx"
            #columninput
            type="number"
            [(ngModel)]="userInputs[i].value"
            (keydown)="onKeydown($event, i)"
            (ngModelChange)="modelChangeFn($event, i)"
            [tabindex]="userInputs[i].tabindex"
            [placeholder]="userInputs[i].placeholder"
            [@answerStatus]="answerStatus"
            (focus)="onFocusColumns($event, i)"
            (blur)="onBlurColumns($event, i)">
    </div>
</ng-template>

<ng-template #normal>
    <input
        #columninput
        class="mathAnswer"
        [ngModel]="value"
        (ngModelChange)="modelChangeNormal($event)"
        [ngStyle]="{'width.em': size}"
        type="number"
        (keydown)="onKeydownSimple($event)"
        [@answerStatus]="answerStatus"
        (focus)="onFocusSimple($event)"
        (blur)="onBlurSimple($event)"
        placeholder="?">
</ng-template>