@if (mode==columnAnswerMode.COLUMNS) {
  <div class="columnAnswer">
    <mat-form-field floatLabel="always">
      <mat-label>?</mat-label>
      @for (ipt of userInputs; track trackByIdx(i, ipt); let i = $index; let isLast = $last) {
        <input #columninput
          type="number" [(ngModel)]="userInputs[i].value" (keydown)="onKeydown($event, i)"
          (ngModelChange)="modelChangeFn($event, i)" [tabindex]="userInputs[i].tabindex"
          [placeholder]="userInputs[i].placeholder" [@answerStatus]="answerStatus"
          (focus)="onFocusColumns($event, i)" (blur)="onBlurColumns($event, i)">
      }
      <button mat-icon-button color="accent" aria-label="Clear" (click)="clearInput()" [disabled]="isEmpty()"
        tabindex="-1">
        <mat-icon svgIcon="delete-cross"></mat-icon>
      </button>
    </mat-form-field>
  </div>
} @else {
  <button mat-icon-button color="accent" aria-label="Clear" (click)="clearInput()" [disabled]="isEmpty()"
    tabindex="-1">
    <mat-icon svgIcon="delete-cross"></mat-icon>
  </button>
  <input #columninput [ngModel]="value" (ngModelChange)="modelChangeNormal($event)"
    [ngStyle]="{'width.rem': size}" type="number" (keydown)="onKeydownSimple($event)" [@answerStatus]="answerStatus"
    (focus)="onFocusSimple($event)" (blur)="onBlurSimple($event)" placeholder="?">
}


