<div class="content">
  <h2 class="mat-h2">Question&nbsp;{{questionId}}</h2>
  <div class="mathQuestion" [formGroup]="panelForm">
    <span [ngClass]="{'equation':true, 'stacked': stacked}">
      <ng-template ngFor let-num [ngForOf]="problem.values" let-i="index" let-last="last">
        <span class="number">{{num}}</span>
        <span *ngIf="last==false" class="operator">{{problem.mathProplemActions.operator}}</span>
      </ng-template>
      <span class="equals">=</span>
      <div class="answerField" formArrayName="answers">
        <button mat-button *ngIf="answerFC.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
          <!-- <mat-icon>add_circle</mat-icon> -->
          <svg class="deleteIcon" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
            <path
              d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z">
            </path>
          </svg>
        </button>
        <!-- [ngClass]="{'mathAnswer': true, 'wrong': wrong, 'right': right}" -->
        <input formControlName={{controlIndex}} [name]="name" #inputReference
          class="mathAnswer"
          [@answerStatus]="status"
          type="number"
          (blur)="validateAnswerRealTime(false)" 
          (keyup.enter)="validateAnswerRealTime(false)" 
          (keydown)="preventUpDown($event)"
          (change)="checkChange($event)" 
          (keyup)="check($event)"/>
      </div>
    </span>
  </div>
</div>