<div class="content">
  <h2 class="mat-h2">Question&nbsp;{{questionId}}</h2>
  <div class="mathQuestion">
    <span [ngClass]="{'equation':true, 'stacked': stacked}">
      <ng-template ngFor let-num [ngForOf]="problem.values" let-i="index" let-last="last">
        <span class="number">{{num}}</span>
        <span *ngIf="last==false" class="operator">{{problem.mathProplemActions.operator}}</span>
      </ng-template>
      <span class="equals">=</span>
      <div class="answerField">
    
        <!-- [ngClass]="{'mathAnswer': true, 'wrong': wrong, 'right': right}" -->
       <!-- <input #inputReference
          [(ngModel)]="userInput"  
          [name]="name"
          class="mathAnswer"
          [@answerStatus]="status"
          type="number"
          (blur)="onBlur()"
          (focus)="onFocus()"
          (keyup.enter)="validateAnswerEnter()"
          (keydown)="preventUpDown($event)"
          (change)="checkChange($event)"
          (keyup)="check($event)" />-->
          <app-column-answer [size]='size' 
    [mode]='mode' 
    
    (valueChange)="onValueChange($event)" 
    [answerStatus]="status"></app-column-answer>
      </div>
    </span>
  </div>
</div>