@import "~@angular/material/theming";
@import "../../assets/styles/themes_variables.scss";

.content {
    margin: auto;
    width: max-content;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.answerField {
    position: relative;
    display: inline;
}

.mathQuestion {
    //padding: 0.5em;
    font-size: 24px;
}

.equation.stacked .mathAnswer {
    text-align: right;
    margin-top: 5px;
}
/*
.wrong {
    background-color: red;
}

.right {
    background-color: limegreen;
}
*/
.equation.stacked {
    display: inline-block;
}

.equation.stacked .number {
    display: block;
    margin-left: 1em;
    /* space for the operator */
    text-align: right;
    margin-top: 2px;
    margin-bottom: 2px;
}

.equation.stacked .operator {
    float: left;
}

//$primary: mat-palette($mat-amber);

.equation.stacked .equals {
    display: block;
    height: 0;
    padding-bottom: 3px;
    border-bottom: solid 2px;
    //border-color: mat-color($primary);
    overflow: hidden;
}

.equation :not(:first-child):not(input) {
    //avoid the margin left when stacked
    margin-left: 0.3em;
}

//The input where the answer is placed
.mathAnswer {
    font-size: 24px;
    //font-family : "Arial";
    padding-left: 5px;
    padding-right: 5px;
    width: 3em;
    text-align: right;
    margin-left: 0;
}

@mixin math-question-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    .mathAnswer:focus {
        outline-color: mat-color($accent);
        outline-width: 15px;
    }
}

@each $thclass, $th in $all_themes {
    @if $thclass == "" {
        @include math-question-theme($th);
    } @else {
        :host-context(.#{$thclass}) {
            @include math-question-theme($th);
        }
    }
}
//// Input delete
.deleteIcon {
    fill: grey;
    width: 16px;
    height: 16px;
    cursor: pointer;

    margin: 0 5px 0 -6px;
    -webkit-tap-highlight-color: transparent;
}

.mat-button {
    position: absolute;
    position: top right;
    z-index: 2;
}
