@use '@angular/material' as mat;
@import "../../assets/styles/themes_variables.scss";

.content {
    margin: auto;
    width: max-content;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.answerField {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.mathQuestion {
    //padding: 0.5em;
    font-size: 24px;
}

.equation.stacked .mathAnswer {
    text-align: right;
    margin-top: 5px;
}

/*
.wrong {
    background-color: red;
}

.right {
    background-color: limegreen;
}
*/
.equation.stacked {
    display: inline-block;
}

.equation.stacked .number {
    display: block;
    margin-left: 1em;
    /* space for the operator */
    text-align: right;
    margin-top: 2px;
    margin-bottom: 2px;
}

.equation.stacked .operator {
    float: left;
}

//$primary: mat.define-palette(mat.$amber-palette);

.equation.stacked .equals {
    display: block;
    height: 0;
    padding-bottom: 3px;
    border-bottom: solid 2px;
    //border-color: mat.get-color-from-palette($primary);
    overflow: hidden;
}

.equation :not(:first-child):not(input) {
    //avoid the margin left when stacked
    margin-left: 0.3em;
}

.question_column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.question_flat {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.question_flat>*:not(:last-child) {
    padding-right: 0.2em;
}

.question_column>*:not(:last-child) {
    padding-right: 0.2em;
}

.question_column .operator {
    padding-bottom: 0.15em;
}

.numbers {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.number_normal {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    height: 1em;
    padding: 2px 5px;
}

.number_column {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    height: 1em;
    padding: 2px 0;
}

.digit {
    display: flex;
    width: 1em;
    align-items: center;
    justify-content: center;
    padding: 2px 0;
    border-color: deeppink transparent; //to ensure the same with with the answer widjet
    border-width: 1px;
    border-left-style: dashed;
}

.digit:last-child {
    border-right-style: solid;
}

@mixin math-question-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $fg: map-get($theme, foreground);
    //$bg: map-get($theme, background);

    $th_text_color: #{mat.get-color-from-palette($fg, text)};

    //@debug "fg: #{$primary}";
    //@debug "foreground: #{$th_text_color}";
    //@debug "background: #{mat.get-color-from-palette($bg)}";
    //@debug "background: #{$bg}";

    .mathAnswer:focus {
        outline-color: mat.get-color-from-palette($accent);
        outline-width: 15px;
        caret-color: mat.get-color-from-palette($accent);
    }

    .hr_equals {
        margin: 4px 0;
        border-style: solid;
        border-color: mat.get-color-from-palette($fg);

        background-color: $th_text_color;
        border-color: $th_text_color;
    }
}

@each $thclass, $th in $all_themes {
    @if $thclass =="" {
        @include math-question-theme($th);
    }

    @else {
        :host-context(.#{$thclass}) {
            @include math-question-theme($th);
        }
    }
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.mdc-notched-outline{
    background-color: blue;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
  }
    
  //mat-mdc-form-field pizza ng-tns-c3736059725-39 mat-mdc-form-field-type-mat-input mat-mdc-form-field-has-icon-prefix mat-form-field-appearance-outline mat-primary ng-star-inserted