<div class="content">
  <h2 class="mat-h2">Question&nbsp;{{questionId + 1}}</h2>
  <div class="mathQuestion">

    @if (stacked) {
      <section class="question_column">
        <section class="operator">{{problem.mathProplemActions.operator}}</section>
        <section class="numbers">
          @if (config.answerMode==columnAnswerMode.COLUMNS) {
            @for (number of problem.values; track number; let i = $index; let last = $last) {
              <div class="number_column">
                @for (digit of number.toString().split(''); track digit) {
                  <div class="digit">{{digit}}</div>
                }
              </div>
            }
          } @else {
            @for (number of problem.values; track number; let i = $index; let last = $last) {
              <div class="number_normal">
                {{number}}
              </div>
            }
          }
        </section>
      </section>
      <hr class="hr_equals" />
      <ng-container *ngTemplateOutlet="answerField2"></ng-container>
    } @else {
      <section class="question_flat">
        @for (num of problem.values; track num; let i = $index; let last = $last) {
          <span class="number_flat">{{num}}</span>
          @if (last==false) {
            <span class="operator">{{problem.mathProplemActions.operator}}</span>
          }
        }
        <span class="equals">=</span>
        <ng-container *ngTemplateOutlet="answerField2"></ng-container>
      </section>
    }

  </div>
</div>



<ng-template #answerField>
  <div class="answerField">
    <app-column-answer [id]='questionId.toString()' [size]='size' [mode]='config.answerMode' [value]='userInput'
      [valueChange]="onValueChange" (focusChange)="onFocusChange($event)" [answerStatus]="status"
    (existFocus)="existFocus($event)"></app-column-answer>
  </div>
</ng-template>

<ng-template #answerField2>
  <div class="answerField">

    <app-answer-value [id]='questionId.toString()' [real_answer]='problem.answer' (status_change)="on_status_change($event)" [config]="config"></app-answer-value>
    <!-- app-column-answer [id]='questionId.toString()' [size]='size' [mode]='config.answerMode' [value]='userInput'
    [valueChange]="onValueChange" (focusChange)="onFocusChange($event)" [answerStatus]="status"
    (existFocus)="existFocus($event)"></app-column-answer -->

  </div>
</ng-template>