<mat-form-field appearance="outline" [ngClass]="set_class()" class="answer_input">

    <button mat-icon-button matPrefix color="accent" aria-label="Clear" color="accent" aria-label="Clear"
        (click)="clearInput()" [disabled]="isEmpty()">
        <mat-icon svgIcon="delete-cross"></mat-icon>
    </button>
    <input matInput #answer_input type="number" class="num-align" placeholder="?" [ngModel]="value" (focus)="onFocusSimple($event)"
        (blur)="onBlurSimple($event)" (ngModelChange)="modelChangeNormal($event)">

</mat-form-field>