<h1 mat-dialog-title>Hi Hello</h1>
<div mat-dialog-content>
  <form [formGroup]="configForm">
    <p>Number of numbers:</p>
    <mat-form-field>
      <mat-label>Number of numbers:</mat-label>
      <input matInput class="form-control" type='number'  formControlName="nbNumbers" />
      <mat-error *ngIf="configForm.get('nbNumbers').errors?.required">
        The value is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="configForm.get('nbNumbers').errors?.min">
        The value shall be greater or equals to <strong>2</strong>
      </mat-error>
    </mat-form-field>
    &nbsp;
    <button mat-raised-button (click)="setRanges()" color="accent">Set ranges</button>
    <p>Number of problems:</p>
    <mat-form-field>
      <mat-label>Number of problems:</mat-label>
      <input matInput class="form-control" type='number'  formControlName="nbProblems" />
      <mat-error *ngIf="configForm.get('nbProblems').errors?.required">
        The value is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="configForm.get('nbProblems').errors?.min">
        The value shall be greater or equals to <strong>1</strong>
      </mat-error>
    </mat-form-field>
    <p>Math problem Type:</p>
    <mat-form-field>
      <mat-label>Math problem Type:</mat-label>
      <mat-select formControlName="mathProblemTypes">
        <mat-option *ngFor="let mpt of mathProplemActionsKeys" [value]="mpt">
          {{mpt}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p>Equation Orientation</p>
    <mat-radio-group aria-label="Select an option" formControlName="stacked">
      <mat-radio-button [value]="true">Vertical</mat-radio-button> &nbsp;
      <mat-radio-button [value]="false">Horizontal</mat-radio-button>
    </mat-radio-group>
    <p></p>
    <mat-checkbox labelPosition="before" formControlName="realTimeValidation" [value]="true">
      Realtime Validation
    </mat-checkbox>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="apply()" cdkFocusInitial [disabled]="!configForm.valid">Apply</button>
</div>