<section class="equation" *ngIf="isColRowSet()">
    {{tables[column]}} {{operator}} {{tables[row]}} = {{calculate(tables[column], tables[row])}}
</section>
<table>
    <tr>
        <th></th>
        <th *ngFor="let num2 of tables;index as i" [ngClass]="calculateClasses(i, -1)">{{num2}}</th>
    </tr>
    <tr *ngFor="let num1 of tables;  index as row ">
        <th [ngClass]="calculateClasses(-1, row)">{{num1}}</th>
        <td *ngFor="let num2 of tables;  index as col" 
        (mouseover)="onMouseHover(col, row)"
        [ngClass]="calculateClasses(col, row)">{{calculate(num1, num2)}}</td>
    </tr>
</table>
