
@import "~@angular/material/theming";
@import "../../assets/styles/themes_variables.scss";

table {
    font-size: larger;
    border-collapse: collapse;
    table-layout: fixed;
}

.equation {
    font-size: 27pt;
    font-weight: bold;
    padding: 10px;
}

@mixin widget-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $fg: map-get($theme, foreground);
    //$bg: map-get($theme, background);

    $th_text_color: #{mat-color($fg, text)};

    td, th {
        border: mat-color($fg) solid 1px;
        text-align: center;
        padding: .2em;
        width: 3rem;
    }

    td.inPath {
        background-color: mat-color($accent, lighter);
        color:  mat-color($accent, default-contrast);
    }
    
    th.inPath {
        background-color: mat-color($primary);
        color:  mat-color($primary, default-contrast);
    }

    td.onHover {
        background-color: mat-color($accent);
        color:  mat-contrast($accent, lighter);
    }
}

@each $thclass, $th in $all_themes {
    @if $thclass == "" {
        @include widget-theme($th);
    } @else {
        :host-context(.#{$thclass}) {
            @include widget-theme($th);
        }
    }
}
