@if (isColRowSet()) {
  <section class="equation">
    {{tables[column]}} {{operator}} {{tables[row]}} = {{calculate(tables[column], tables[row])}}
  </section>
}
<table>
  <tr>
    <th></th>
    @for (num2 of tables; track num2; let i = $index) {
      <th [ngClass]="calculateClasses(i, -1)">{{num2}}</th>
    }
  </tr>
  @for (num1 of tables; track num1; let row = $index) {
    <tr>
      <th [ngClass]="calculateClasses(-1, row)">{{num1}}</th>
      @for (num2 of tables; track num2; let col = $index) {
        <td
          (mouseover)="onMouseHover(col, row)"
        [ngClass]="calculateClasses(col, row)">{{calculate(num1, num2)}}</td>
      }
    </tr>
  }
</table>
