@import "~@angular/material/theming";
@import "../../assets/styles/themes_variables.scss";

table {
    font-size: larger;
    border-collapse: collapse;
    table-layout: fixed;
}

.equation {
    font-size: 27pt;
    font-weight: bold;
    padding: 10px;
}

td,
th {
    border-width: 1px;
    border-style: solid;
    text-align: center;
    padding: 0.2em;
    width: 3rem;
}

@mixin widget-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $fg: map-get($theme, foreground);

    $th_text_color: #{mat-color($fg, text)};

    td,
    th {
        border-color: mat-color($fg);
    }

    th {
        background-color: mat-color($primary, lighter);
        color: mat-color($primary, lighter-contrast);
    }

    td.inPath {
        background-color: mat-color($accent, lighter);
        color: mat-color($accent, default-contrast);
    }

    th.inPath {
        background-color: mat-color($primary);
        color: mat-color($primary, default-contrast);
    }

    td.onHover {
        background-color: mat-color($accent);
        color: mat-contrast($accent, lighter);
    }
}

@each $thclass, $th in $all_themes {
    @if $thclass == "" {
        @include widget-theme($th);
    } @else {
        :host-context(.#{$thclass}) {
            @include widget-theme($th);
        }
    }
}
