<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>{{title}}</h1>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>


</mat-toolbar>
<div id="contentPanel">
  <app-problem-panel></app-problem-panel>
</div>

<mat-menu #menu="matMenu">
  <app-config-dialog-opener></app-config-dialog-opener>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="reset()">
    <mat-icon>refresh</mat-icon>
    <span>Reset</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuTheme">
    <mat-icon>color_lens</mat-icon>
    <span>Themes</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuEquationOrientation">
    <span>Equation Orientation</span>
  </button>
  <mat-checkbox class="mat-menu-item" labelPosition="before" value="true">
    Realtime Validation
  </mat-checkbox>
</mat-menu>


<mat-menu #menuTheme="matMenu">
  <mat-radio-group aria-label="Select an option" class="menu-radio-group" [(ngModel)]="currentTheme"
    (change)="menuThemeRadioChange($event)">
    <div mat-menu-item *ngFor="let theme of themes">
      <mat-radio-button [value]="theme.value">{{theme.label}}</mat-radio-button>
    </div>
  </mat-radio-group>
</mat-menu>

<mat-menu #menuEquationOrientation="matMenu">
  <mat-radio-group  aria-label="Select an option"
    class="menu-radio-group" [(ngModel)]="selectedEquationOrientation">
    <div mat-menu-item *ngFor="let orientation of equationOrientation">
      <mat-radio-button [value]="orientation.code">{{orientation.label}}</mat-radio-button>
    </div>
  </mat-radio-group>
</mat-menu>