<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 i18n="@@title">Trainer for Camellia</h1>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button mat-icon-button [matMenuTriggerFor]="menuLang">
    <mat-icon >language</mat-icon>
  </button>  {{localeLabel}}
</mat-toolbar>
<!-- <div id="contentPanel" [@routeAnimation]="getAnimationData(routerOutlet)"> -->
<div id="contentPanel">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>

<mat-menu #menuLang="matMenu">
  <a *ngFor="let loc of localesList" mat-menu-item href="../{{loc.code}}">
    {{loc.label}}
  </a>
</mat-menu>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="goHome()">
    <mat-icon>home</mat-icon>
    <span i18n="enter page@@home">Home</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="goAdditionTable()">
    <span i18n="menu@@additionTable">Addition Table</span>
  </button>
  <button mat-menu-item (click)="goMultiplicationTable()">
    <span i18n="menu@@multiplicationTable">Multiplication Table</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item [matMenuTriggerFor]="menuTheme">
    <mat-icon>color_lens</mat-icon>
    <span i18n="colour themes@@themes">Themes</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuEquationOrientation">
    <span>Equation Orientation</span>
  </button>
  <mat-checkbox class="mat-menu-item" labelPosition="before" [(ngModel)]="config.realTimeValidation"
    (change)='realTimeValidationChange($event)'>
    Realtime Validation
  </mat-checkbox>
</mat-menu>


<mat-menu #menuTheme="matMenu">
  <mat-radio-group aria-label="Select an option" class="menu-radio-group" [(ngModel)]="config.theme"
    (change)="menuThemeRadioChange($event)">
    <div mat-menu-item *ngFor="let theme of themes">
      <mat-radio-button [value]="theme.value">{{theme.label}}</mat-radio-button>
    </div>
  </mat-radio-group>
</mat-menu>

<mat-menu #menuEquationOrientation="matMenu">
  <mat-radio-group aria-label="Select an option"
    class="menu-radio-group" [(ngModel)]="config.orientation" (change)='menuEquationOrientationChange()'>
    <div mat-menu-item *ngFor="let orientation of equationOrientations">
      <mat-radio-button [value]="orientation.code">{{orientation.label}}</mat-radio-button>
    </div>
  </mat-radio-group>
</mat-menu>