<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>{{title}}</h1>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>


</mat-toolbar>
<div id="contentPanel">
  <app-problem-panel></app-problem-panel>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="menuTheme">
    <mat-icon>color_lens</mat-icon>
    <span>Themes</span>
  </button>
  <mat-divider></mat-divider>
  <app-config-dialog-opener></app-config-dialog-opener>
</mat-menu>


<mat-menu #menuTheme="matMenu">
  <mat-radio-group mat-menu-item *ngFor="let theme of themes" aria-label="Select an option" class="menu-radio-group"
    [ngModel]="currentTheme" (change)="menuThemeRadioChange($event)">
    <mat-radio-button [value]="theme.value">{{theme.label}}</mat-radio-button>
  </mat-radio-group>
</mat-menu>
