<ng-template [ngTemplateOutlet]="ProblemButton"></ng-template>
<h1>Additions</h1>


<h1>Subtractions</h1>


<h1>Multiplication</h1>

<h1>Custom</h1>

<mat-form-field appearance="outline">
    <mat-label>Math problem Type:</mat-label>
    <mat-select [(value)]="params.problemTypes">
      <mat-option *ngFor="let mpt of mathProplemActions()" [value]="mpt.code">
        {{mpt.name}} <strong>{{mpt.operator}}</strong>
      </mat-option>
    </mat-select>
  </mat-form-field>
<span> &nbsp; </span>
<!--
<mat-form-field appearance="fill">
    <mat-label>Multiplication tables</mat-label>
    <mat-select multiple [(value)]="params.numbers">
        <mat-option *ngFor="let num of tables" [value]="num">{{num}}</mat-option>
    </mat-select>
</mat-form-field> -->
<mat-form-field *ngFor="let num of params.numbers;index as i">
    <mat-label>Num {{i}}</mat-label>
    <input  matInput type="number" placeholder="number" [(ngModel)]="params.numbers[i]">
</mat-form-field>
<button mat-button (click)="clear()" [disabled]="toDisable()">Clear</button>
<button mat-button (click)="addNumber()">Add Number</button>
<br>
<mat-form-field>
    <mat-label>Start</mat-label>
    <input matInput type="number" placeholder="start" [(ngModel)]="params.start">
</mat-form-field>
<span> &nbsp; </span>
<mat-form-field>
    <mat-label>End</mat-label>
    <input matInput type="number" placeholder="end" [(ngModel)]="params.end">
</mat-form-field>
<br>
<mat-checkbox [(ngModel)]="params.shuffle">Shuffle</mat-checkbox>
<br>

<ng-template [ngTemplateOutlet]="ProblemButton"></ng-template>

<ng-template #ProblemButton>
    <button mat-raised-button color="accent" (click)="goToProblems()" [disabled]="isDisabled()">Problems</button>
</ng-template>