// Import library functions for theme creation.
@use 'sass:map';
@use '@angular/material' as mat;
@import "../../assets/styles/themes_variables.scss";

@mixin math-question-theme($theme) {
    // Extract the palettes you need from the theme definition.
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    .mathQuestionWrapper {
        //flex: 1 1 0;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 7%; // investigate to have the same size
        border-width: 2px;
        border-style: solid;
        border-color: mat.get-color-from-palette($accent);
        margin: 0.5em;
        padding: 1em;
        border-radius: 15px;
    }
}

@each $thclass, $th in $all_themes {
    @if $thclass == "" {
        @include math-question-theme($th);
    } @else {
        :host-context(.#{$thclass}) {
            @include math-question-theme($th);
        }
    }
}

.problems {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

button span {
    margin-left: 0.5em;
}

.mat-radio-button {
    margin-left: 16px;
}

.orientation-radio-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.orientation-radio-button {
    margin: 5px;
}

.orientation {
    display: inline-block;
}