<app-progress-bar [totalCount]="problemsCount" [progressCount]="successCount"></app-progress-bar>
<div class="problems">
  <div *ngFor="let problem of problems; index as i" class="mathQuestionWrapper">
    <app-math-question [questionId]='i' [config]="config" [needReset]="needReset"></app-math-question>
  </div>
  <div *ngFor="let problem of padding(0)" class="mathQuestionWrapper">
  </div>
</div>
<br />

<button mat-raised-button color="accent" (click)=validate() *ngIf="!config.realTimeValidation">Validate</button>

<br /><button mat-button (click)="clearAll()">
  <mat-icon>clear_all</mat-icon>
  <span>Clear All</span>
</button>
&nbsp;
<button mat-button (click)="reset()">
  <mat-icon>refresh</mat-icon>
  <span>Regenerate</span>
</button>
&nbsp;
<button mat-button (click)="invert()">
  <mat-icon>invert_colors</mat-icon>
  <span>Invert</span>
</button>
&nbsp;
<p class="orientation">
  <label id="orientation-radio-group-label">Equation orientation</label>
  <mat-radio-group aria-labelledby="orientation-radio-group-label"
    class="orientation-radio-group"
    [ngModel]="config.orientation"
    (ngModelChange)="orientationChangeFn($event)">
    <mat-radio-button class="orientation-radio-button" *ngFor="let orientation of equationOrientations"
      [value]="orientation.code">
      {{orientation.label}}
    </mat-radio-button>
  </mat-radio-group>
</p>
<mat-checkbox labelPosition="before"
  [ngModel]="config.realTimeValidation"
  (ngModelChange)='realTimeValidationChangeFn($event)'>
  Realtime Validation
</mat-checkbox>
&nbsp;
<mat-form-field appearance="fill">
  <mat-label>Answer mode</mat-label>
  <mat-select
    [ngModel]="config.answerMode"
    (ngModelChange)='selectedAnswerModeChangeFn($event)'>
    <mat-option *ngFor="let answerMode of ANSWER_MODES" [value]="answerMode.code">
      {{answerMode.label}}
    </mat-option>
  </mat-select>
</mat-form-field>&nbsp;
<mat-form-field appearance="outline">
  <mat-label>Numbrer of problems</mat-label>
  <input matInput type="number" [ngModel]="config.nbQuestions" (ngModelChange)="nbProblemsChangeFn($event)">
</mat-form-field>