<h1>Test</h1>

<ng-template ngFor let-i="index" let-answer [ngForOf]="answerInputConfigs">
    <app-column-answer 
        [size]='answer.size'
        [mode]='answer.mode'
        [value]="answer.value"
        [id]="i.toString()"
        [answerStatus]="answer.status"
        (focusChange)="onFocusChange($event, i)"
        [valueChange]="myCallbackFunction"></app-column-answer>
    <br>
    <select [(ngModel)]="answer.status">
        <option
            *ngFor="let x of inputStatus"
            [value]="x">{{x}}</option>
    </select> &nbsp;
    <input [(ngModel)]="answer.value">

    <span class="focusIndicator" *ngIf="answerInputConfigs[i].inFocus; else elseBlock">FOCUS</span>
    <ng-template #elseBlock>
        <span class="focusIndicator">BLUR</span>
    </ng-template>

    <mat-form-field appearance="fill">
        <mat-label>Answer mode</mat-label>
        <mat-select
            [(ngModel)]="answerInputConfigs[i].mode">
            <mat-option *ngFor="let answerMode of ANSWER_MODES" [value]="answerMode.code">
                {{answerMode.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>&nbsp; 
    <mat-form-field appearance="outline">
        <mat-label>Size</mat-label>
        <input matInput type="number" [(ngModel)]="answer.size">
      </mat-form-field>
    <br />
    value: {{answerInputConfigs[i].value }}
    <br>
    <hr>
</ng-template>

<h1>Test theme</h1>

<div class="primary">Primary</div>
<div class="accent">Accent</div>
<div class="warn">Warn</div>
<div></div>

<h1>Test anime</h1>
<button (click)="toggle()">toggle1</button>
<br />
<br />
<div [@slideStatus]="status" class="box">Test color animation</div>
<br />
<input [@slideStatus]="status" class="box" value='test' />
<br />
<br />
<button (click)="toggle()">toggle</button>
<br />
<br />
<button (click)="clearStorage()">Clear Storage</button>