<h1>Test</h1>

@for (answer of answerInputConfigs; track answer; let i = $index) {
  <app-column-answer
    [size]='answer.size'
    [mode]='answer.mode'
    [value]="answer.value"
    [id]="i.toString()"
    [answerStatus]="answer.status"
    (focusChange)="onFocusChange($event, i)"
  [valueChange]="myCallbackFunction"></app-column-answer>
  <br>
    <select [(ngModel)]="answer.status">
      @for (x of inputStatus; track x) {
        <option
        [value]="x">{{x}}</option>
      }
    </select> &nbsp;
    <input [(ngModel)]="answer.value">
    @if (answerInputConfigs[i].inFocus) {
      <span class="focusIndicator">FOCUS</span>
    } @else {
      <span class="focusIndicator">BLUR</span>
    }
    <mat-form-field appearance="fill">
      <mat-label>Answer mode</mat-label>
      <mat-select
        [(ngModel)]="answerInputConfigs[i].mode">
        @for (answerMode of ANSWER_MODES; track answerMode) {
          <mat-option [value]="answerMode.code">
            {{answerMode.label}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>&nbsp;
    <mat-form-field appearance="outline">
      <mat-label>Size</mat-label>
      <input matInput type="number" [(ngModel)]="answer.size">
    </mat-form-field>
    <br />
    value: {{answerInputConfigs[i].value }}
    <br>
      <hr>
      }

      <h1>Test theme</h1>

      <div class="primary">Primary</div>
      <div class="accent">Accent</div>
      <div class="warn">Warn</div>
      <div></div>

      <h1>Test anime</h1>
      <button (click)="toggle()">toggle1</button>
      <br />
      <br />
      <div [@slideStatus]="status" class="box">Test color animation</div>
      <br />
      <input [@slideStatus]="status" class="box" value='test' />
      <br />
      <br />
      <button (click)="toggle()">toggle</button>
      <br />
      <br />
      <button (click)="clearStorage()">Clear Storage</button>