<mat-form-field appearance="outline">
    <mat-label i18n="@@Number of questions">Number of questions</mat-label>
    <input matInput type="number" [(ngModel)]="nbQuestions">
</mat-form-field>
<span class="space"></span>
<button mat-raised-button color="accent" (click)="goToProblems()" [disabled]="disableButton"
    i18n="open the worksheet@@math_worksheet">Math Worksheet</button>
<span class="space"></span>
<button mat-raised-button color="accent" (click)="goToWorkout()" [disabled]="disableButton"
    i18n="to a workout training@@Workout">One by one</button>
<span class="space"></span>
<button mat-raised-button (click)="clear()" i18n="@@clearAll">Clear all</button>