.numbers {
    margin-left: 1em;
}

.numberSelect {
    margin: 1em 0em;
}

.mat-form-field + .mat-form-field,
.mat-raised-button {
    margin-left: 12px;
}

.mat-input-element {
    font-size: 16px;
}
