/*
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the default theme styles.
@include angular-material-theme($candy-app-theme);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.unicorn-dark-theme {
  @include angular-material-theme($dark-theme);
}
*/
@import "~@angular/material/theming";
@include mat-core();

// Typography
/*
$custom-typography: mat-typography-config(
  $font-family: Raleway,
  $headline: mat-typography-level(24px, 48px, 400),
  $body-1: mat-typography-level(16px, 24px, 400)
);
@include angular-material-typography($custom-typography);
*/
// Default colors
$my-app-primary: mat-palette($mat-teal, 700, 100, 800);
$my-app-accent: mat-palette($mat-teal, 700, 100, 800);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
@include angular-material-theme($my-app-theme);

// Dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
}

// Light theme
$light-primary: mat-palette($mat-grey, 200, 500, 300);
$light-accent: mat-palette($mat-brown, 200);
$light-warn: mat-palette($mat-deep-orange, 200);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

.light-theme {
  @include angular-material-theme($light-theme);
}

//Themes from https://github.com/angular/components/tree/master/src/material/core/theming/prebuilt

$deeppurple-amber-primary: mat-palette($mat-deep-purple);
$deeppurple-amber-accent: mat-palette($mat-amber, A200, A100, A400);
$deeppurple-amber-theme: mat-light-theme($deeppurple-amber-primary, $deeppurple-amber-accent);

.deeppurple-amber {
  @include angular-material-theme($deeppurple-amber-theme);
}

// Define a theme.
$indigo-pink-primary: mat-palette($mat-indigo);
$indigo-pink-accent: mat-palette($mat-pink, A200, A100, A400);

$indigo-pink-theme: mat-light-theme($indigo-pink-primary, $indigo-pink-accent);

.indigo-pink {
  @include angular-material-theme($indigo-pink-theme);
}

// Define a theme.
$pink-bluegrey-primary: mat-palette($mat-pink, 700, 500, 900);
$pink-bluegrey-accent: mat-palette($mat-blue-grey, A200, A100, A400);

$pink-bluegrey-theme: mat-dark-theme($pink-bluegrey-primary, $pink-bluegrey-accent);

.pink-bluegrey {
  @include angular-material-theme($pink-bluegrey-theme);
}

$purplegreen-primary: mat-palette($mat-purple, A200);
$purplegreen-accent: mat-palette($mat-green, A200, A100, A400);
$purplegreen-warn: mat-palette($mat-red);

$purplegreen-theme: mat-dark-theme($purplegreen-primary, $purplegreen-accent, $purplegreen-warn);
.purple-green {
  @include angular-material-theme($purplegreen-theme);
}
