@import "~@angular/material/theming";

// Default theme
$my-app-primary: mat-palette($mat-teal, 700, 100, 800);
$my-app-accent: mat-palette($mat-green, 700, 100, 800);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

// Dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Light theme
$light-primary: mat-palette($mat-grey, 200, 500, 300);
$light-accent: mat-palette($mat-brown, 200);
$light-warn: mat-palette($mat-deep-orange, 200);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

// Themes from 
// https://github.com/angular/components/tree/master/src/material/core/theming/prebuilt

// deeppurple-amber
$deeppurple-amber-primary: mat-palette($mat-deep-purple);
$deeppurple-amber-accent: mat-palette($mat-amber, A200, A100, A400);
$deeppurple-amber-theme: mat-light-theme($deeppurple-amber-primary, $deeppurple-amber-accent);

// indigo-pink
$indigo-pink-primary: mat-palette($mat-indigo);
$indigo-pink-accent: mat-palette($mat-pink, A200, A100, A400);
$indigo-pink-theme: mat-light-theme($indigo-pink-primary, $indigo-pink-accent);

// pink-bluegrey
$pink-bluegrey-primary: mat-palette($mat-pink, 700, 500, 900);
$pink-bluegrey-accent: mat-palette($mat-blue-grey, A200, A100, A400);
$pink-bluegrey-theme: mat-dark-theme($pink-bluegrey-primary, $pink-bluegrey-accent);

// purplegreen
$purple-green-primary: mat-palette($mat-purple, A200);
$purple-green-accent: mat-palette($mat-green, A200, A100, A400);
$purple-green-warn: mat-palette($mat-red);
$purple-green-theme: mat-dark-theme($purple-green-primary, $purple-green-accent, $purple-green-warn);

// candy
$candy-primary: mat-palette($mat-orange);
$candy-accent:  mat-palette($mat-brown);
$candy-warn:    mat-palette($mat-red);
$candy-theme:   mat-light-theme($candy-primary, $candy-accent, $candy-warn);


$all_themes: (
    "": $my-app-theme,
    dark-theme: $dark-theme,
    light-theme: $light-theme,
    deeppurple-amber: $deeppurple-amber-theme,
    indigo-pink: $indigo-pink-theme,
    pink-bluegrey: $pink-bluegrey-theme,
    purple-green: $purple-green-theme,
    candy: $candy-theme,
);