@use 'sass:map';
@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

$colors: (
    "red": mat.$m2-red-palette,
    "pink": mat.$m2-pink-palette,
    "purple": mat.$m2-purple-palette,
    "deep-purple": mat.$m2-deep-purple-palette,
    "indigo": mat.$m2-indigo-palette,
    "blue": mat.$m2-blue-palette,
    "light-blue": mat.$m2-light-blue-palette,
    "cyan": mat.$m2-cyan-palette,
    "teal": mat.$m2-teal-palette,
    "green": mat.$m2-green-palette,
    "light-green": mat.$m2-light-green-palette,
    "lime": mat.$m2-lime-palette,
    "yellow": mat.$m2-yellow-palette,
    "amber": mat.$m2-amber-palette,
    "orange": mat.$m2-orange-palette,
    "deep-orange": mat.$m2-deep-orange-palette,
    "brown": mat.$m2-brown-palette,
    "grey": mat.$m2-grey-palette,
    "blue-grey": mat.$m2-blue-grey-palette,
);

$hues: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, A100, A200, A400, A700;


@each $colorName, $matVal in $colors {
    $var: mat.m2-define-palette($matVal);
    .tp-#{$colorName} {
        background-color: mat.m2-get-color-from-palette($var);
        color: mat.m2-get-color-from-palette($var, default-contrast);
    }

    @each $h in $hues {
        .tp-#{$colorName}-#{$h} {
            background-color: mat.m2-get-color-from-palette($var,$h);
            color: mat.m2-get-color-from-palette($var, "#{$h}-contrast");;
        }

        .tp-#{$colorName}-#{$h}::after {
            content: " color: " + mat.m2-get-color-from-palette($var,$h) + " hue: " + $h + " contrast: " +  mat.m2-get-color-from-palette($var, "#{$h}-contrast");
        }
    }
}
